.navList {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style-type: none;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border: 1px solid #e7e7e7;
}

h1 {
    font-size: xx-large;
    color: #4CAF50;
    margin: 20px;
    padding: 10px;
}

h4 {
    margin-top: 20px;
}

button:hover {
    background-color: #206622;
}

#food-1 {
    position: fixed;
    width: 250px;
    left: 10px;
    bottom: -100px;
}
#food-2 {
    position: fixed;
    width: 350px;
    height: 200px;
    left: 620px;
    bottom: -80px;
}
#food-3 {
    position: fixed;
    transform: rotate(-25deg);
    width: 300px;
    right: -40px;
    bottom: -30px;
}